@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-fondo: #070a0c;
  --color-crimson: #ff1493;
  --color-text: #fff;
  --color-dark-text: #000;
  --color-fondo-dark: #1c1c1c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Menda';
  src: url('/Menda\ Font/menda_medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Menda';
  src: url('/Menda\ Font/menda_semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.container {


  background-color: var(--color-fondo-dark);
 
}
nav {
  position: fixed;
  height: fit-content;
  width: 100%;
  background-color: #1c1c1c6c;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  padding:0.5rem  1rem;
  z-index: 99999999999;
box-shadow: 0 0 10px 0 #ffffff29;

}

.containerMenuLang{
display: flex;
align-items: center;}


 
  .videoBackground{
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

  }

  .videoBackgroundContainer{
    padding-top: 1rem;
   width: 100vw;
    height: 300px;
   box-shadow: 0px 2px 2px 2px #00000029;
    
  }

.containerMenu {
  display: flex;
  align-items: center;
  display: none;
}
.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  
}
.containerArrowSubir {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  z-index: 9999999;
}
.containerArrowSubir.showArrow {
  opacity: 1;
}
.arrowSubirImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
  z-index: 1000000;
  position: relative;
}
.menuHamburguesa {
  display: flex;
 
}
.menuIcon {
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
  z-index: 100000;
  margin-right: 20px;
}
.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-fondo-dark);
  transition: right 0.3s ease-in-out;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 100px 20px 20px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
}
.mobileMenu.open {
  right: 0;
}
.mobileMenu a {
  color: var(--color-text);
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 0;
  border-bottom: 1px solid var(--color-crimson);
  transition: color 0.3s ease;
}
.mobileMenu a:hover {
  color: var(--color-crimson);
}
.closeIcon {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
}

.contenedorGeneral{
  display: flex;
  flex-direction: column;

  padding-top: 80px;
  color: var(--color-text);
  width: 100vw;
}

.imgBanner{
  width: 100vw;
  margin: 0.5rem 0 0.5 0.5;
}

.containerTextHome{
  font-family: 'Menda';
  font-size: 2.5rem;
  line-height: 2.1rem;
  margin: 1rem;

 
}

.secondaryText{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.secondaryText p:nth-child(1){
  width:40vw;
}

.secondaryText p:nth-child(2){

    font-family: 'Menda';
    font-weight: 500;
    font-size: 0.9rem;
  
}
.secondaryText p{
  font-style: normal;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
.resorte{
  width: 130px;
  height: 100px;
}
.containerResorte{
  display: flex;
  align-items: flex-start;
  justify-content: space-around ;
}

.containerButton{
background-color: var(--color-crimson);
display: flex;
justify-content: center;
align-items: center;
border-radius: 2px;
padding: 0.2rem;

}
.button{
font-size: 0.7rem;
background: none;
border: none;
text-decoration: none;


}
.containerButton a {
  text-decoration: none;
}
.wp{
  width: 23px;
  height: 23px;
}
.containerGeneral{
  background-image: url('../../Frame-53.webp');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 padding-right: 10px;

}

.langToggle {
  position: relative;
  display: flex;
  width: 100px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-family: 500;
  box-shadow: inset 0 0 2px #ffffff29;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  display: none;
}
.langToggleM{
  position: relative;
  top: -70px;
  display: flex;
  width: 100px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-family: 500;
  box-shadow: inset 0 0 2px #ffffff29;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.langOption {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 2;
  color: #333;
  transition: color 0.3s;
  
  }

.langOption.active {
  color: #fff;
}

.langIndicator {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50px;
  height: 100%;
  padding: 20px;
  background: var(--color-crimson); 

  z-index: 1;
  transition: transform 0.3s ease;
}



@media (min-width: 850px) {
  .containerGeneral{

 padding-right: 10vw;
justify-content: center;
align-items: center;

}

.nav{
  padding: 0;

}
  .menuHamburguesa {
  display: none;

}
  .videoBackground{
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

  }

  .videoBackgroundContainer{
    padding-top: 3rem;
    width: 750px;
    height: 490px;
    margin: auto;
    
    
  }

  .containerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: background-color 0.3s ease; 
  justify-content: center;
  padding: 12px 10px;
  cursor: pointer;

}

.containerMenu:hover {
  background-color: #ff1493;
}

.menuItemActive {
  background-color: #ff1493;
}

.containerMenu a {
  color: var(--color-text);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  height: fit-content;
}

.containerTexts{
  display: flex;
  margin-right: 20px;
  align-items: center;
 }

.arrowSubirImg {
  width: 65px;
  height: 65px;
  margin-right: 15px;
  overflow: hidden;
  z-index: 1000000;
  position: relative;
}




.imgBanner{
  width: 60vw;
  margin: 3rem 2rem 3rem 3rem;
}


.secondaryText p:nth-child(1){
  width:10vw;
}

.contenedorGeneral{
  flex-direction: row;

  justify-content: space-between;


}
s
.containerResorte{
  display: flex;
  align-items: flex-start;

 

}

.button{
  font-size: 1.3rem;
}

.containerButton{
padding: 10px;
} 
.wp{
  width: 25px;
  height: 25px;
}

.secondaryText p:nth-child(1){
  width:10vw;
}

.secondaryText p:nth-child(2){

    font-family: 'Menda';
    font-weight: 500;
    font-size: 0.9rem;
  
}

.langToggle {
  position: relative;
  display: flex;
  width: 100px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-family: 500;
  box-shadow: inset 0 0 2px #ffffff29;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  display: flex;
}

}



@media (min-width: 1500px) {
.containerGeneral{
  padding-right: 25vw;
  width: 10vw;
}

.containerButton{

border-radius: 4px;
width: 200px;

}
.button{
font-size: 1.2em;
width: fit-content;



}
}