@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-fondo: #070a0c;
  --color-crimson: #FF1493;
  --color-text: #fff;
  --color-dark-text: #000;
  --color-fondo-dark: #1C1C1C;
}

@font-face {
  font-family: 'Menda';
  src: url('/Menda\ Font/Menda Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.container {
  min-height: fit-content;
  color: var(--color-text);
  margin-top: -100px;
  background-color: var(--color-fondo-dark);
  z-index: 0;
  position: relative;
    overflow: hidden;

}

.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 50px 0;


}

.containerInfo {
  height: 255px;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 7rem;
  width: 50%;
  position: relative;
  top: 5rem;
}

.containerInformation {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  z-index: 1;
  margin-left: 5px;
  overflow-x: hidden;
}

.containerInformation h2 {
  font-size: 1.8rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--color-crimson);
  padding-left: 20px;
  margin-bottom: 20px;
  width: fit-content;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;

}

form {
  width: 95vw;
  z-index: -1;
}

form input {
  background: none;
  border: none;
  color: var(--color-crimson);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 0px;
  border-bottom: 1px solid var(--color-crimson);
  overflow-x: hidden;
  width: 95vw;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.placeholderFijo {
  color: var(--color-text);
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: transparent;
  font-style: normal;

}

input:focus {
  outline: none;
}

.redes {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-right: 20%;
  justify-content: end;
  z-index: 99999;
}

.redes img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 99999;
}

footer {
  display: flex;
  gap: 10px;
  font-size: 0.5rem;
  padding: 20px 10px;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  cursor: pointer;
}

.logoFooter {
  display: none;
}

input::placeholder,
textarea::placeholder {
  color: #ff14917c;
  opacity: 1;
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.swal-custom {
  font-family: 'Menda'; 
  font-size: 18px;
  color: #fff;
}

.swal-confirm-btn {
  font-family: 'Menda';
  font-weight: 500;
  text-transform: uppercase;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #1C1C1C inset !important; 
  -webkit-text-fill-color:#FF1493 !important; 
  transition: background-color 5000s ease-in-out 0s;
}



@media (min-width: 850px) {

.containerInformation h2 {
  font-size: 4rem;
    padding-left: 30px;


}
  .placeholderFijo {
    font-size: 2rem;
  }

  form input {
    font-size: 1.5rem;
    width: 100%;
  }

  form {
    width: 600px;
  }

  .btn {
    width: fit-content;
    margin-left: auto;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 2rem;
  }

  .redes {
    margin-right: 400px;
    margin-top: 300px;
  }

  .redes img {
    width: 70px;
    height: 70px;
  }

  .logoFooter {
    width: 32vw;
    position: absolute;
    top: -150px;
    right: -35px;
    z-index: -1;
    display: flex;

  
  }

  .container {
    padding-top: 115px;
    height: 88vh;
  }

  footer {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    padding: 30px 50px;
    text-transform: uppercase;
    font-family: "Archivo", sans-serif;
  }



}