@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');

:root {
  --color-fondo-dark: #121212;
  --color-crimson: #FF1493;
  --color-text: #fff;
  --color-fondo-instagram: #f0ead6;
  --color-fondo-dark: #1C1C1C;
}

@font-face {
  font-family: 'Menda';
  src: url('/Menda\ Font/menda_medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  background-color: var(--color-fondo-dark);
  height: fit-content;
  padding-bottom: 1rem;
  --grid-size: 100px;
  --line-color: #3838384f;
  --cross-color: #66666600;
  --dot-color: #55555500;
  background-image:
    radial-gradient(circle, var(--dot-color) 1px, transparent 1.5px),
    linear-gradient(var(--cross-color), var(--cross-color)),
    linear-gradient(to right, var(--cross-color), var(--cross-color)),
    repeating-linear-gradient(to right, var(--line-color) 0, var(--line-color) 2px, transparent 2px, transparent var(--grid-size)),
    repeating-linear-gradient(to bottom, var(--line-color) 0, var(--line-color) 2px, transparent 2px, transparent var(--grid-size));
  background-size:
    var(--grid-size) var(--grid-size),
    2px 10px,
    10px 2px,
    var(--grid-size) var(--grid-size),
    var(--grid-size) var(--grid-size);
  background-position:
    calc(var(--grid-size) / 2) calc(var(--grid-size) / 2),
    center center,
    center center,
    center center,
    center center;
  background-repeat: repeat;
}

.title {
  color: var(--color-text);
  font-family: 'Menda';
  font-weight: 500;
  font-size: 2.7rem;
  padding: 3rem;
  text-transform: uppercase;
}

.containerAll {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.containerTitleGeneral {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 10px solid var(--color-crimson);
  width: fit-content;
  height: fit-content;
  padding: 0 1rem;
  margin-top: 0.5rem;
  min-width: 250px;
}

.containerTitle {
  color: var(--color-text);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.containerDescription {
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow-y: auto; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.containerDescription::-webkit-scrollbar {
  display: none;
}

.containerDescriptionIndividual {
  background-color: #ffffff29;
  backdrop-filter: blur(3px);
  width: 100%;
  max-width: 500px;
  padding: 0.5rem 1rem 2rem;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}

.containerDescriptionIndividual p:nth-child(2) {
  color: var(--color-text);
  font-family: "Poppins", sans-serif; /* Cambiado de Archivo a Poppins para consistencia */
  font-weight: 300;
  font-size: 1rem;
  padding-left: 3rem;
}

.serviceTitleDescription {
  color: var(--color-crimson);
  font-family: 'Menda';
  font-weight: 500;
  font-size: 1.2rem;
}



.containerTitle.active .serviceTitle {
  color: var(--color-crimson);
}

.arrowLeft {
  width: 14px;
  height: 14px;
  opacity: 0;
  transform: translateX(-15px);
  /* ESTA LÍNEA ES LA CLAVE DE LA ANIMACIÓN DE LA FLECHA */
  transition: opacity 0.3s ease-out, transform 0.4s ease-out;
 

}

.containerTitle.active .arrowLeft {
  opacity: 1;
   transform: translateX(0) rotate(0deg); /* ↓ abajo */
}


/* NUEVA REGLA PARA EL ELEMENTO ACTIVO */
.containerDescriptionIndividual.activeDescription {
border: 1px solid var(--color-crimson);
}


@media (max-width: 850px){
  .containerDescription {
    height: 320px;
  }
  .containerDescriptionIndividual {
  
  padding: 0.5rem 1rem 1rem;

}

.containerTitle.active .arrowLeft {
  opacity: 1;
   transform: translateX(0) rotate(90deg); /* ↓ abajo */
}



}