@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-fondo: #070a0c;
    --color-crimson: #FF1493;
    --color-text: #fff;
    --color-dark-text: #000;
    --color-fondo-dark: #1C1C1C;
}

.title {
  color: var(--color-text);
  font-size: 5rem;
  padding: 3rem 2rem;
  text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-text);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.container {
    min-height: fit-content;
    height: 200vh;
    overflow: hidden;
    background-color: var(--color-fondo-dark);
    color: var(--color-text);

}
.containerWrapper{
    borderr: 3px solid green; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;


 
}

.containerAll{
    borderr: 7px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.caja{
    borderr: 2px solid red;
    min-width: 420px;
    height: 250px;
    margin: 0 5px;
    position: relative;
    
}
.containerItemRectangulo p{
    font-size: 2.5rem;
      font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 20px;
  padding: 20px 5px;
  border: 2px solid var(--color-crimson);   
  text-align: center;
}

.containerTitleBottom p{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

.containerItemCuadrado{
    borderr: 2px solid purple;
     margin-top: 7px;   
     height: 100px;
     position: absolute;
     top: -114px;
}

.containerItemCuadradoDosNoVisible{
    display: none;
    

}

.containerItemCuadrado p{
      font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;

}

.containerItemCuadradoTres {
  rborder:  3px solid purple;
  height: 100px;
  margin-top: 7px;
  position: absolute;
  top: -160px;

}

.containerItemCuadradoDos{
    borderr: 1px solid purple;
    height: 100px;
   margin-top: 7px;
    background-colorr: red;
}
.containerItemCuadradoTwo{
    borderr: 1px solid purple;
    height: 100px;
    margin-top: 7px;
    background-colorr: rgb(0, 26, 255);
}

.caja5{
    background-colorr: aqua;
}
.containerItemCuadradoDos p{
     font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

.containerItemCuadradoTwo p{
     font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

.containerItemCuadradoTres{
          borderr: 2px solid purple;
     margin-bottom: 7px;  
     position: absolute;
     top: -113px;
     
}

.containerItemCuadradoTres p{
     font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}


.caja3{
    borderr: 2px solid red;
    min-width: 420px;
    height: 250px;
    margin: 0 5px;
    position: relative;
     position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-colorr: yellow;

}

.caja7{
    borderr: 1px solid red;
     borderr: 2px solid red;
    min-width: 420px;
    height: 250px;
    margin: 0 5px;
    position: relative;
     position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.caja1{
  
}

.containerItemCirculo{
    display: none;
}

.containerItemCirculoVisible p{
    font-size: 2.5rem;
      font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 20px;
  padding: 20px 5px;
  border: 2px solid var(--color-crimson);   
  text-align: center;
  margin-top: 100px;
}


.containerItemCirculoDosVisible{
 font-size: 2.5rem;
      font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 20px;
  padding: 20px 5px;
  border: 2px solid var(--color-crimson);   
  text-align: center;
  margin-top: 100px;
}

.containerItemCirculoCuatroVisible{

     font-size: 2.5rem;
      font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 20px;
  padding: 20px 5px;
  border: 2px solid var(--color-crimson);   
  text-align: center;
  margin-top: 100px;

}

.containerItemCirculoDos{
    display: none;
}

.caja9{
display: none;
}

.boxbottom{

}