@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-fondo: #070a0c;
    --color-crimson: #FF1493;
    --color-text: #fff;
    --color-dark-text: #000;
    --color-fondo-dark: #1C1C1C;
}

@font-face {
    src: url('/Menda\ Font/menda_medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-family: 'Menda';
    font-display: swap;
}
.containerAll{
  position: relative;
}



.container {
   min-height: fit-content;
    background-color: var(--color-fondo-dark);
    padding-top: 40px;
    height: 100vh;
    padding-bottom: 100px;
  --grid-size: 100px;          
  --line-color: #3838384f;      
  --cross-color: #66666600;      
  --dot-color: #55555500;        

  background-color: var(--color-fondo-dark);


  background-image:
   
    radial-gradient(circle, var(--dot-color) 1px, transparent 1.5px),
   
    linear-gradient(var(--cross-color), var(--cross-color)),
    
    linear-gradient(to right, var(--cross-color), var(--cross-color)),

    repeating-linear-gradient(to right, var(--line-color) 0, var(--line-color) 2px, transparent 2px, transparent var(--grid-size)),
 
    repeating-linear-gradient(to bottom, var(--line-color) 0, var(--line-color) 2px, transparent 2px, transparent var(--grid-size));

  
  background-size:
    var(--grid-size) var(--grid-size),     
    var(--grid-size) var(--grid-size),      
    var(--grid-size) var(--grid-size);      

  background-position:
    calc(var(--grid-size) / 2) calc(var(--grid-size) / 2), 
    center center,                        
    center center,                        
    center center,                          
    center center;                          

 
  background-repeat: repeat;


}
.title {

  color: var(--color-text);
  padding: 1rem;
  font-family: 'Menda'; 
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.7rem;
    text-align: end;
    width: fit-content;
    line-height: 30px;
    text-transform: uppercase;
}

.subtitle {
    color: var(--color-text);
    font-family: 'menda';
    font-weight: 500;
    text-align: center;
    padding: 1.5rem 0;
}

.span {
    background-color: transparent;
    color: var(--color-crimson);
    padding: 0;
}

.containerAllProyect {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nameProyect {
    color: var(--color-text);
    font-size: 0.8rem;
    font-family: 'menda';
    font-weight: 500;
    margin-left: 10px;
}

.descriptionProyect {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--color-text);
    font-size: 0.6rem;
    max-width: 200px;
    margin-left: 10px;
    line-height: 1rem;
}

.containerProyect {
    position: relative;
    background-color: #FFFFFF12;
    backdrop-filter: blur(2px);
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.535);
    margin: 0 0.5rem;
    width: 100%;
    height: 250px;
    min-height: fit-content;
    border-radius: 13px;
   
}

.containerBoxOne,
.containerBoxTwo,
.containerBoxTres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 20px;
}



.containerProyect .img {
    width: 100%;
 
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


.link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.containerText {
    line-height: 0.5rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Menda';
    font-weight: 500;
    font-style: normal;
}

.containerPopUp {
    display: flex;
    width: 100%;
    justify-content: center;
}

.popUp {
    background-color: var(--color-dark-text);
    color: var(--color-text);
    font-size: 0.6rem;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 2px rgba(255, 255, 255, 0.148);
    position: relative;
    z-index: 9999;
    position: fixed;
    top: 40%;
      opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0.2rem 0.1rem;

}
.popUp.activo{
      opacity: 1;
    transform: scale(1);
    pointer-events: all;
}
.popUp h2 {
    font-weight: bold;
    font-weight: 500;
    font-style: normal;
    font-family: 'Menda';
    padding: 0.9rem 0.6rem;
    text-align: center;
}

.description {
    max-width: 250px;
    margin: 0.5rem auto;
    font-weight: 500;
    font-style: normal;
    font-family: 'Menda';
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.btnButton {
    text-align: center;
    width: 100%;
    background-color: #FF1493;
    border: none;
    color: var(--color-text);
    padding: 0.5rem;
    z-index: 9999;
    border-radius: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Menda';
    cursor: pointer;
}

.containerImg {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;

}

.popUpImg {
    width: 100px;

}

.logoBlanco {
    width: 100px;

}

.secondFondo{
    background-color: #0000006e;
    backdrop-filter: blur(7px);
    height: 100vh;
    width: 100vw;
    z-index: 8888;
     position: fixed;
     top: 0;
   opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    
}

.secondFondo.activo{
   opacity: 1;
    pointer-events: all;
}

  


@media (min-width: 850px) {
    .containerProyect .img {
    width: 100%;
 height: 300px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
 .title {
  padding: 4rem;
  line-height: 2.5rem;
  font-size: 2.5rem;
}

    .containerProyect {

        width: 600px;
        height: 430px;
    }

    .containerBoxOne {
        justify-content: end;
    }

    .containerBoxTres {
        justify-content: end;
    }



    .subtitle {
        padding: 3rem 0;
        font-size: 2rem;
    }

    .containerBoxOne,
    .containerBoxTwo,
    .containerBoxTres {
        gap: 2rem;
    }

    .containerAllProyect {
        gap: 2rem;
    }

    .nameProyect {
        font-size: 1.5rem;

    }

    .descriptionProyect {
        max-width: 300px;
        font-size: 1rem;

    }

    .link {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }

    .button {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .containerText {
        line-height: 0.8rem;
        font-size: 1rem;
    }

    .containerButtonWrapper {


        margin: 1.5rem 0;

    }


    .containerPopUp {
    display: flex;
    width: 100%;
    justify-content: center;
}

.popUp {
  
    font-size: 1.2rem;

 
    top: 40%;
    opacity: 0;
    padding: 0.5rem 0.3rem;

}

.popUp.activo{
    opacity: 1;
}

.popUp h2 {
  
    padding: 1rem 0.9rem;
    text-align: center;
}

.description {
    max-width: 500px;
    margin: 0.5rem auto;

}

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.btnButton {
  
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;

}

.containerImg {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;

}

.popUpImg {
    width: 100px;

}

.logoBlanco {
    width: 100px;

}


.secondFondo{
 

     opacity: 0;
    
}

.secondFondo.activo{
    opacity: 1;
}

}