
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-fondo: #070a0c;
    --color-crimson: #FF1493;
    --color-text: #fff;
    --color-dark-text: #000;
    --color-fondo-dark: #1C1C1C;
}

@font-face {
  font-family: 'Menda';
  src: url('/Menda\ Font/Menda Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.container {
    min-height: fit-content;
    background-color: transparent;
    padding-top: 50px;
    height: 100vh;
    padding-bottom: 100px;
}
.title {
    font-size: 1.5rem;
    color: var(--color-text);
    text-transform: uppercase;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: end;
    width: fit-content;
    line-height: 30px;
}
.subtitle{
    color: var(--color-text);
    font-family: 'menda';
    font-weight: 500;
    text-align: center;
    padding: 1rem 0;
}
.span{
    background-color: transparent;
    color: var(--color-crimson);
    padding: 0;
}
.containerAllProyect{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.nameProyect{
    color: var(--color-text);
    font-size: 0.8rem;
    font-family: 'menda';
    font-weight: 500;
    margin-left: 10px;
}
.descriptionProyect{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.6rem;
  max-width: 200px;
  margin-left: 10px;
  line-height: 1rem;
}
.containerProyect{
      position: relative;
    background-color: #FFFFFF12;
      backdrop-filter: blur(2px);
       box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.535);
    margin: 0 0.5rem ;
    width: 100%;
    height: 250px;
    min-height: fit-content;
    border-radius: 13px;
}
.containerBoxOne,
.containerBoxTwo,
.containerBoxTres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 20px;
}
.containerProyect .img{
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


.link{
      position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.containerButtonWrapper{
    display: flex;
    width: 100vw;
 
    justify-content: flex-end;

}

.containerButton{
    background-color: #F0EAD6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.4rem;
    margin: 1rem 0.5rem;
  
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    gap: 0.4rem;

}

.button{
    background-color: var(--color-fondo-dark);
    color: var(--color-text);
    border: 1px solid var(--color-crimson);
    border-radius: 13px;
    text-align: center;
    height: fit-content;
    padding: 0.7rem 1rem;
    font-size: 0.6rem;
    font-family: 'Menda';
    font-weight: 500;
    font-style: normal;
    cursor: pointer;

}

.containerText{
    line-height: 0.5rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Menda';
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 850px) {
    .title {
        font-size: 5rem;
        padding-left: 32px;
        padding-bottom: 50px;
        padding-top: 100px;
        line-height: 65px;
}
.containerProyect{
 
    width: 600px;
    height: 430px;
}
.containerBoxOne{
    justify-content: end;
}

.containerBoxTres{
    justify-content: end;
}

.app{
    height: 300px;
}

.subtitle{
    padding: 3rem 0;
    font-size: 2rem;
}
.containerBoxOne,
.containerBoxTwo,
.containerBoxTres {
    gap: 2rem;
}

.containerAllProyect{
    gap: 2rem;
}
.nameProyect{
    font-size: 1.5rem;
   
}
.descriptionProyect{
 max-width: 300px;
  font-size: 1rem;

}

.link{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.button{
    padding: 1rem 1rem;
    font-size: 1rem;
}
.containerText{
    line-height: 0.8rem;
    font-size: 1rem;
}
.containerButtonWrapper{
  

    margin: 1.5rem 0;

}

}