@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-fondo: #070a0c;
  --color-crimson: #FF1493;
  --color-text: #fff;
  --color-dark-text: #000;
  --color-fondo-dark: #1C1C1C;
}

@font-face {
  font-family: 'Menda';
  src: url('/Menda\ Font/menda_medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container{
  background-color: var(--color-crimson);
  
}

.title{
  font-family: 'Menda';
  font-style: none;
  font-weight: 500;
  color: var(--color-dark-text);
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.subtitle{
  color: var(--color-text);
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-style: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}


@media (min-width: 850px) {


}