@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-fondo: #070a0c;
    --color-crimson: #FF1493;
    --color-text: #fff;
    --color-dark-text: #000;
    --color-fondo-dark: #1C1C1C;
}

.container {
    min-height: fit-content;
   padding-bottom: 50px;
    background-color: var(--color-fondo-dark);
    color: var(--color-text);
    position: relative;
    top: -50px;
    z-index: -1 ;
 

  
}

.title {
    color: var(--color-crimson);
    font-size: 1.7rem;
    text-align: end;
    margin: 30px 60px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;

}

.containerTeam {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    height: 150px;
}
.containerInfo {
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
   flex-grow: 1;
    margin-left: 30px;
}
.containerInfo h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.line {
    border-top: 10px solid var(--color-text);
    border-right: 10px solid var(--color-text);
    border-top-right-radius: 100px;
    margin-right: 40px;
    margin-top: 50px;
}

.imgFondo{
    width: 120px;
    height: 120px;
    position: relative;
}

.containerImgTeam{
    margin-left: 20px;
    width: 100px;
}

.wrapperImgTeam{
  
    width: 65px;
    height: 105px;
    position: relative;
    top: -120px;
    left: 53px;
    border-top-left-radius: 7px;
    background-image: url("../../imgDavidOficial.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.wrapperImgTeamMai{
     width: 65px;
    height: 105px;
    position: relative;
    top: -120px;
    left: 53px;
    border-top-left-radius: 7px;
    background-image: url("../../imgMaiOficial.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
.wrapperImgTeamJuan{
    width: 65px;
    height: 105px;
    position: relative;
    top: -120px;
    left: 53px;
    border-top-left-radius: 7px;
    background-image: url("../../imgOficialJuan.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
@media (min-width: 850px) {
    .title{
        font-size: 4rem;
        margin: 100px 100px 0 0;
    }

    .line {
        border-top: 25px solid var(--color-text);
        border-right: 25px solid var(--color-text);
        border-top-right-radius: 150px;
        margin-right: 200px;
        margin-top: 50px;
    }
    .line {
        border-top: 30px solid var(--color-text);
        border-right: 30px solid var(--color-text);
        border-top-right-radius: 100px;
        margin-right: 200px;
        margin-top: 50px;
    }

    .containerTeam {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    height: 300px;
}

    .imgFondo{
    width: 250px;
    height: 250px;
    margin-left: 100px;
   
}
.containerInfo {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    flex-grow: 1;
    margin-right: 300px;
    text-align: end;
}
.wrapperImgTeam{
    width: 130px;
    height: 222px;
    top: -250px;
    left: 216px;
}
.wrapperImgTeamMai{
    width: 130px;
    height: 222px;
    top: -250px;
    left: 216px;
}
.wrapperImgTeamJuan{
     width: 130px;
    height: 222px;
    top: -250px;
    left: 216px;
}
}