@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-fondo: #070a0c;
  --color-crimson: #FF1493;
  --color-text: #fff;
  --color-dark-text: #000;
  --color-fondo-dark: #1C1C1C;

}

.container {
  min-height: fit-content;
  background-color: var(--color-fondo-dark);
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.title {
  color: var(--color-text);
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.line {
  height: 1px;
  width: 90%;
  background-color: var(--color-crimson);
  margin-left: auto;
}

.containerAll {
  margin-top: 50px;
  display: flex;
}

.name {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-crimson);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.5rem;
}

.containerP {
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.crimsonContainer {
  border: 2px solid var(--color-crimson);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: var(--color-crimson);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.6rem;
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

.crimsonContainer p {
  max-width: 300px;
  padding: 0 15px;
}

.name{
  margin-top: 10px;
}

span{
  background-color: var(--color-fondo-dark);
  border-radius: 4rem;
}

@media (min-width: 850px) {
  .title {
    display: none;
  }

  .line {
    height: 2px;
  }

  .containerP {
    min-width: 200px;
  }

  .name {
    font-size: 4rem;
    
    line-height: 3.5rem;

  }

  .crimsonContainer {
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    width: 60%;
    height: 400px;

    font-size: 1.5rem;

  }

  .crimsonContainer p {
    max-width: 90%;
    padding: 0 15px;
  }

  .containerAll {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}