@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-fondo: #070a0c;
  --color-crimson: #ff1493;
  --color-text: #fff;
  --color-dark-text: #000;
  --color-fondo-dark: #1c1c1c;
  --color-fondo-instagram: #f0ead6;
}
@font-face {
  font-family: "Menda";
  src: url("/Codex/Menda\ Font/menda_bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Menda";
  src: url("/Codex/Menda\ Font/menda_medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Menda";
  src: url("/Codex/Menda\ Font/menda_semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.container {
  background-color: #1c1c1c;
}

.containerAll {
  position: relative;
}


.containerButton:hover {
  background-color: var(--color-crimson-hover);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.title {
  color: var(--color-text);
  padding: 1rem;
  font-family: "Menda";
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.7rem;
}
.containerInfo {
  color: var(--color-text);
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin: 2rem 1rem;
  height: fit-content;
}
.containerTextInfo {
  position: absolute;
  z-index: 1;
  text-align: end;
  width: 90%;
  padding-right: 5px;
}

.containerTextInfo p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
}

.containerTextInfo p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
}

.text {
  color: var(--color-text);
  text-align: center;
  font-family: "Menda";
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 2rem 0 1rem 0;
}

.color {
  color: var(--color-crimson);
}

.containerImportantInfo {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.boxOne {
  background: linear-gradient(to bottom, #ffffff0d 80%, #ffffff00 100%);
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  margin: 0 1rem;
}

.boxThree {
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;

  background: linear-gradient(to top, #ffffff0d 80%, #ffffff00 100%);
  margin: 0 1rem;
}

.boxTwo {
  background-color: var(--color-crimson);
  border-radius: 50px;
}

.number {
  color: var(--color-crimson);
  padding: 2rem 0 0 2rem;
  font-family: "Menda";
  font-weight: 500;
}

.numberTwo {
  color: var(--color-text);
  padding: 2rem 0 0 2rem;
  font-family: "Menda";
  font-weight: 500;
}

.counter p {
  font-size: 3rem;
  font-family: "Menda";
  font-weight: 500;
  margin: auto;
  max-width: 45vw;
}

.hoy {
  font-size: 3rem;
  font-family: "Menda";
  font-weight: 500;
  margin: auto;
  max-width: 45vw;
}

.textInfo {
  font-size: 0.8rem;
  margin: auto;
  max-width: 45vw;
  padding: 0 0 2rem 0;
  font-family: "Menda";
  font-weight: 500;
}

.seo {
  font-family: "Menda";
  font-weight: 500;
  color: var(--color-fondo);
  font-size: 3rem;
  margin: auto;
  max-width: 60vw;
}

.textInfoTwo {
  color: var(--color-fondo);
  font-family: "Menda";
  font-weight: 500;
  margin: auto;
  max-width: 60vw;
}

.containerButton {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.containerButton a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-family: "Menda";
  font-weight: 500;
  background-color: var(--color-text);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

.arrow {
  width: 5vw;
}

.subtitle {
  color: var(--color-text);
  font-family: "Menda";
  text-align: center;
  padding: 2.8rem 0 4rem 0;

  font-size: 0.8rem;
}

.textBottom {
  color: var(--color-text);
  font-family: "Menda";
  text-align: center;
  padding: 1.8rem;
  font-size: 1rem;
}

@media (min-width: 850px) {
  .title {
    padding: 4rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
  }

  .containerInfo {
    align-items: center;
    margin: 1rem 0;
    padding-right: 40px;
  }

  .containerTextInfo p:nth-child(1) {
    font-size: 1.5rem;
  }

  .containerTextInfo p:nth-child(2) {
    font-size: 1.8rem;
  }

  .text {
    font-size: 2.8rem;
    padding: 6rem 2rem 0 10rem;
    line-height: 2.8rem;
  }

  .subtitle {
    color: var(--color-text);
    padding: 5rem 0 0;
    text-align: center;
    font-size: 1.9rem;
    font-family: "Menda";
  }

  .containerImportantInfo {
    align-items: flex-end;
    flex-direction: row;
    padding: 6rem;
    max-width: 1500px;
    margin: auto;
  }

  .boxOne {
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    border-top-right-radius: 0;
    margin: 1rem 0 0 0;
    padding: 1rem;
    height: 250px;
    width: 400px;
    background: linear-gradient(to bottom, #ffffff0d 100%, #ffffff00 0);
  }

  .boxThree {
    border-bottom-left-radius: 0;
    border-top-right-radius: 33px;
    margin: 1rem 0 0 0;
    width: 400px;

    height: 250px;
    padding: 1rem;
    background: linear-gradient(to bottom, #ffffff0d 100%, #ffffff00 0%);
  }

  .counter p,
  .textInfo,
  .seo,
  .textInfoTwo,
  .hoy {
    padding: 0 0 0 1.5rem;
  }

  .textInfo,
  .textInfoTwo {
    font-size: 1rem;
  }
  .number,
  .numberTwo {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  .boxTwo {
    background-color: var(--color-crimson);
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    width: 700px;

    padding: 1rem;
  }

  .arrow {
    width: 2vw;
  }

  button {
    font-size: 1rem;
    cursor: pointer;
  }

  .textBottom {
    font-size: 1.6rem;
    padding: 3rem 0 8rem 0;
  }
}
