@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-fondo: #070a0c;
  --color-crimson: #FF1493;
  --color-text: #fff;
  --color-dark-text: #000;
  --color-fondo-dark: #1C1C1C;
  --color-fondo-instagram: #f0ead6;
}
@font-face {
  font-family: 'Menda';
  src: url('/Codex/Menda\ Font/Menda Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Menda';
  src: url('/Codex/Menda\ Font/Menda Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.container {
  min-height: fit-content;
  height: 100vh;
 background-color: transparent;
  overflow-x: hidden;
}

.line {
  height: 1px;
  width: 80%;
  background-color: var(--color-crimson);
  margin-left: auto;
  margin-bottom: 30px;
}
.containerAll {
   background-color: #ff14911e;
   backdrop-filter: blur(2px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  min-height: fit-content;
 padding-bottom: 40px;
  margin-left: 40px;
}
.containerTitleDescription {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

}
.containerP {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  color: var(--color-text);
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-right: 10px;
}
.logo {
  height: 100px;
  width: 100px;
  margin-left: 40px;
}
.crimsonContainer {
  text-align: end;
  color: var(--color-text);
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;

}
span {
  background-color: var(--color-crimson);
  padding: 0 10px;
  border-radius: 20px;
}
.card {
  background-color: var(--color-fondo-instagram);
  padding-bottom: 10px;
  box-shadow: 4px 4px 40px #0000009f;
  display: flex;
  flex-direction: column;
  margin-top: 160px ;
  border-bottom-left-radius: 30px ;
  border-top-left-radius: 30px;
  margin-left: 40px;
 
}
.cardTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  padding: 20px 15px;
  font-size: 1.2rem;
  text-align: center;
}
.cardInfo1,
.cardInfo2,
.cardInfo3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.cardInfo1 p,
.cardInfo2 p,
.cardInfo3 p {
  max-width: 200px;
}
.cardInfo1 .p,
.cardInfo2 .p,
.cardInfo3 .p {
  font-family: 'Menda';
  font-weight: 500;
}
.cardNumber {
  font-family: 'Menda';
  font-weight: 500;
  font-size: 2rem;
}
.medidor {
  display: none;
}


@media (min-width: 1430px) {
  .containerAll {
    border-top-left-radius: 235px;
    border-bottom-left-radius: 100px;
    margin-left: 100px;
    padding-bottom: 1px;
 
  }
  .containerP {
    width: fit-content;
  }
  .name {
    font-size: 5rem;
    line-height: 3.6rem;
    margin-top: 10px;
    text-align: start;
    margin-left: 150px;
  }

  .containerTitleDescription {
    justify-content: space-between;
    flex-direction: row;
  }
  .crimsonContainer {
    margin-right: 40px;
    font-size: 2.2rem;
    max-width: 900px;
    margin-top: 30px;
    text-align: end;
    
  }
  .logo {
    display: none;
  }
  .cardTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    padding: 20px 15px;
    font-size: 3rem;
  }

  .card {
    display: flex;
    margin-left: 200px;
    margin-bottom: 100px;
    border-bottom-left-radius:55px ;
    border-top-left-radius: 55px;
 
  }
  .containerTextAll {
    display: flex;
    justify-content: space-around;
   

  }
  .cardNumber {
    font-family: 'Menda';
    font-weight: 500;
    font-size: 5rem;
  }
  .cardInfo1 p,
  .cardInfo2 p,
  .cardInfo3 p {
    max-width: 300px;
  }
  .cardInfo1 .p,
  .cardInfo2 .p,
  .cardInfo3 .p {
    font-size: 1.2rem;
  }
  .cardInfo1,
  .cardInfo3 {
    justify-content: flex-end;
  }
  .cardInfo2 {
    justify-content: flex-start;
  }
  }