@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Archivo:wght@100..900&display=swap");

/* Reset básico */
html, body {
  margin: 0;
  padding: 0;
  /* clip recorta igual que hidden pero no rompe position: sticky */
  overflow-x: clip;
  scroll-behavior: smooth;
    background: var(--color-fondo-dark);

}

/* Scrollbars para Brave/Chrome */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ff1491;
  border-radius: 4px;

}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body {
  cursor: url(/cursor.svg), auto;
}

.app-wrapper {
  position: relative;
  isolation: isolate;
}

::selection {
  background-color: #ff1493;
  color: #000;
}