*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

body {
  overscroll-behavior: none;
  cursor: url('/cursor.png') 4 4, auto !important;


}

.app-wrapper {
  position: relative;

  isolation: isolate; 
}


::selection {
  background-color: #ff1493;
  color: #000;    
  border-radius: 50%;    
  padding: 30px;    
}




::-moz-selection {
  background-color: #ff1493;
  color: #ffffff;
  border-radius: 50%;    
  padding: 30px; 
}

