/* Reset básico */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Solo aquí, no en * */
  scroll-behavior: smooth;
    background: var(--color-fondo-dark);

}

/* Scrollbars para Brave/Chrome */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ff1491;
  border-radius: 4px;

}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body {
  cursor: url(/cursor.svg), auto;
}

.app-wrapper {
  position: relative;
  isolation: isolate;
}

::selection {
  background-color: #ff1493;
  color: #000;
}